body{
    background-color: #060327;
    color: white;
    height: 100vh;

}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
}

